@import 'colors.scss';

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
}

.garage {
  background-color: $lightGreen;
}

.winners {
  background-color: $purple;
}

.hidden {
  position: absolute;
  left: -9999px;
}

.visible {
  position: relative;
  left: 0;
}
